%h1 
  Site Management for
  = @country.name

.menu
  Go to
  = link_to '[contestant list]', :action => 'list_users'
  where you can rerun contestants' id's.
  %br/
  Or, 
  = link_to '[Log out].', :action => 'logout'

= error_messages_for :site

.new-box
  %strong New site.
  - form_for :site, nil, :url => {:action => 'create'} do |f|
    Login:
    = f.text_field :login, :size => 5
    Name:
    = f.text_field :name, :size => 15
    Admin's password:
    = f.text_field :password, :size => 15
    = submit_tag "New site"

%h2
  Current sites

%table.list
  %tr.header
    %th{:width => "10px"}
    %th{:width => "200px"} Login
    %th{:width => "200px"} Name
    %th{:width => "200px"} Password for admin
    %th
  = render :partial => 'site', :collection => @sites

