%h1
  Contestant list for 
  = @country.name

.menu
  - if PREFIX_LEVEL==:country
    = link_to '[Re-number]', :action => 'renum'
    contestants' numbers (sorted by sites and by names)
  - else
    You can't renumber contestants, 
    because the numbering is done by sites.
  %br/
  Back to 
  = link_to '[main country page]', :action => 'list' 
  

%table.list
  - @sites.each do |site|
    %tr.header-site
      %td{:colspan => 4}
        = site.name  
    %tr.header
      %th
      %th Login
      %th Name
      %th Password
    = render :partial => 'user', :collection => site.users
