%h1 
  =t 'registration.title'

= error_messages_for :user, :header_message => (t 'registration.errors.header')

%table
  - form_for :user, @user, :url => { :action => 'register' } do |f|
    %tr
      %td{:align => "right"}
        = "#{t 'login_label'}:"
      %td= f.text_field :login
    %tr
      %td
      %td 
        %small 
          =t 'registration.login_guide'
    %tr
      %td{:align => "right"}
        = "#{t 'full_name_label'}:"
      %td= f.text_field :full_name
    %tr
      %td{:align => "right"}
        = "#{t 'school_label'}:"
      %td= f.text_field :school
    %tr
      %td{:align => "right"}
        = "#{t 'province_label'}:"
      %td= f.text_field :province
    %tr
      %td{:align => "right"}
        = "#{t 'trained_at_ipst_label'}:"
      %td= f.select :trained_at_ipst, [[(t 'registration.trained_no'),0],[(t 'registration.trained_yes'),1]]
    %tr
      %td{:align => "right"}
        = "#{t 'email_label'}:"
      %td= f.text_field :email
    %tr
      %td
      %td 
        %small
          =t 'registration.email_guide'
    %tr
      %td/
      %td
        = submit_tag((t 'registration.register'), :name => 'commit')
        = submit_tag((t 'cancel'), :name => 'cancel')

