%h1 Site Management for APIO'08

= content_tag(:div,flash[:notice],:class => "notice") if flash[:notice]!=nil 

.login-bigbox
  .title For Country Administrator.
  %small
    &nbsp;&nbsp;&nbsp;
    To add sites, view contestant list, 
    and manage contestants' id's (when you have many sites).
    %br/
  %br/
  Please login.
  .login-box
    - form_for :country, nil, :url => {:action => 'country_login'} do |f|
      Country:
      = select :country, :id, @country_select
      Password:
      = f.password_field :password
      = submit_tag "Country Administrator Login"

%br/

.login-bigbox
  .title For Site Administrator.
  %small
    &nbsp;&nbsp;&nbsp;
    To add contestants to your site.
    Please ask your country administrator for password.
    %br/
  %br/
  Please select your site and login.
  .login-box
    - form_for :login, nil, :url => {:action => 'site_login'} do |f|
      Site: 
      = select :login, :site_id, @site_select
      Password:
      = f.password_field :password
      = submit_tag "Site Administrator Login"
