%h1 
  User List for Site:
  = "#{@site.name}, #{@site.country.name}"

= flash[:notice]

- form_for :user, nil, :url => {:action => 'add'} do |f|
  %b Add Individual User.
  Name (first last):
  = f.text_field :name
  = submit_tag "Add"
- form_tag({:action => 'upload'}, :multipart => true) do |f|
  %b Upload User List:
  = file_field_tag :file
  = submit_tag "Upload"

%table
  %tr
    %th
    %th Name
    %th
  - counter = 0
  - @users.each do |user|
    %tr
      %td= counter+1
      %td= user.name
      %td
        = link_to '[edit]', :action => 'edit', :id => user.id
        = link_to '[delete]', :action => 'delete', :id => user.id
    - counter += 1
