%h1 Admin Page

.menu
  = link_to "[add new country]", :action => 'new'
  or 
  = link_to "[upload country list]", :action => 'upload'
  %br/
  = link_to "[export user data]", :action => 'export'
  = link_to "[log out]", :action => 'logout'

%table.list
  %tr.header
    %th Name
    %th Login
    %th Password
    %th Email
    %th
  - @countries.each do |country|
    %tr
      %td.name=h country.name
      %td.name=h country.login
      %td.name=h country.password
      %td.name=h country.email
      %td
        = link_to '[edit]', :action => 'edit', :id => country
        = link_to '[delete]', :action => 'delete', :id => country
